@model EditCheckInCheckOutResponseModel;

@{
    ViewData["Title"] = "Edit Check In Check Out";
}

<h1>Edit Check In Check Out</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Edit Check In Check Out</h3>
                </div>
                <div class="card-body">
                    <form action="/CheckInCheckOut/UpdateCheckInCheckOut" method="post">
                        <input name="CICOId" value="@Model.CheckInCheckOutDataModel.CICOId" type="hidden" />
                        <label>Choose Member: </label>
                        <select name="UserId" class="form-control" required>
                            <option value="" selected>Choose options...</option>
                            @foreach (var item in Model.Users)
                            {
                                @if (item.UserId == Model.CheckInCheckOutDataModel.UserId)
                                {
                                    <option value="@item.UserId" selected>@item.UserName</option>
                                }
                                else
                                {
                                    <option value="@item.UserId">@item.UserName</option>
                                }
                            }
                        </select>
                        <br />
                        <label>Choose check in date time: </label>
                        <input name="CheckInDateTime" type="datetime-local" class="form-control" required value="@Model.CheckInCheckOutDataModel.CheckInDateTime" />
                        <br />
                        <button class="btn btn-outline-primary" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
